$BG: #f8fbff;
$MAIN-ACCENT: #f7f2e7;
$SEC-ACCENT: #71638e;
$DEFOCUSED-TEXT: #796d93;
$SECTION-HEADING: #4f4564;
$PAGE-HEADING: #557571;
$TEXT-BLACK: #373737;
$NAV-DESELECTED: #5f5f5f;
$TITLE: #4f4564;
$WHITE-TITLE: #f8fbff;
$SOCIAL-BG: #f1e4da;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: $BG;
  color: $TEXT-BLACK;
}

.text-heading-serif {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.text-hero {
  color: $SEC-ACCENT;
}

.text-heading-sans {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.text-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.text-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

//
// NEW STUFF
//

nav {
  background-color: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.295);
}

header {
  background-image: linear-gradient(
    135deg,
    rgba(190, 184, 87, 0.48),
    rgba(58, 113, 161, 0.5),
    rgba(75, 131, 180, 0.5),
    #f8fbff
  );
  background-size: 350%;
  background-position: left;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.header-title {
  font-size: 90px;
}

.title-1 {
  top: 20%;
  left: 2rem;
}

.title-2 {
  top: 40%;
  left: 4rem;
}

.header-cta-container {
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  line-height: 3rem;
}

.section-stack {
  background-color: #31373f;
}

.title-color {
  color: $TITLE;
}

.title-white {
  color: $WHITE-TITLE;
}

@media screen and (min-width: 900px) {
  .introduction-hero {
    position: absolute;
    top: 2rem;
    left: 4rem;
    width: 300px;
  }

  .title-1 {
    top: 20%;
    left: 25%;
  }

  .title-2 {
    top: 40%;
    left: 40%;
  }
}

//
// OLD STUFF
//

.text-hero-1 {
  top: -3.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.text-hero-2 {
  top: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

.text-black {
  color: $TEXT-BLACK;
}

.text-defocused {
  color: $DEFOCUSED-TEXT;
}

.img-obj {
  object-fit: cover;
  object-position: center;
}

.section-heading {
  color: $SECTION-HEADING;
}

.page-heading {
  color: $PAGE-HEADING;
}

.nav-deselected {
  color: $NAV-DESELECTED;
}

.backdrop {
  background-color: $MAIN-ACCENT;
}

.social {
  background-color: $SOCIAL-BG;
}

.invitation-bg {
  background-image: url("/assets/invitation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-primary {
  background-color: $MAIN-ACCENT;
}

.custom-shadow {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.247);
}

nav {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  h3 > a {
    // font-size: 2rem;
    color: $SEC-ACCENT;
    font-weight: 800;
  }

  .menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .burger {
    div {
      height: 4px;
      background-color: $SEC-ACCENT;
      border-radius: 15px;
      margin: 3px 0;
    }

    .line1 {
      width: 26px;
    }

    .line2 {
      width: 26px;
    }
  }

  .li {
    color: $NAV-DESELECTED;
  }

  .active {
    font-weight: 700;
    color: $SEC-ACCENT;
  }
}

@media screen and (max-width: 900px) {
  nav {
    // background-color: #00000042;
    height: 9vh;
    h3 {
      color: white;
    }
  }
}
