$BG: #fcfcfd;
$MAIN-ACCENT: #f7f2e7;
$MAIN-ACCENT-GLASS: #f7f2e79f;
$SEC-ACCENT: #71638e;
$DEFOCUSED-TEXT: #858181;
$SECTION-HEADING: #4f4564;
$PAGE-HEADING: #557571;
$TEXT-BLACK: #373232;
$NAV-DESELECTED: #5f5f5f;
$PROJECT-TITLE: #514949;
$SOCIAL-BG: #f1e4da;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: $BG;
  scroll-behavior: smooth;
}

.text-heading-serif {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.text-hero {
  color: $SEC-ACCENT;
}

.text-heading-sans {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.text-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.text-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.text-hero-1 {
  top: -3.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.text-hero-2 {
  top: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

.text-black {
  color: $TEXT-BLACK;
}

.text-defocused {
  color: $DEFOCUSED-TEXT;
}

.img-obj {
  object-fit: cover;
  object-position: center;
}

.section-heading {
  color: $SECTION-HEADING;
}

.page-heading {
  color: $PAGE-HEADING;
}

.nav-deselected {
  color: $NAV-DESELECTED;
}

.prj-title {
  color: $PROJECT-TITLE;
}

.backdrop {
  background-color: $MAIN-ACCENT;
}

.backdrop-glass {
  background-color: $MAIN-ACCENT-GLASS;
  backdrop-filter: blur(10px);
}

.social {
  background-color: $SOCIAL-BG;
}

.invitation-bg {
  background-image: url("/assets/invite-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-primary {
  background-color: $MAIN-ACCENT;
}

.custom-shadow {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.247);
}

.stack-container {
  scroll-snap-type: x mandatory;
  // scroll-padding: 50%;
}

.stack-item {
  scroll-snap-align: start;
}

.scroll-to-top {
  &:hover {
    img {
      transform: scale(110%);
    }
  }
}

.featured-project {
  height: 500px;
  overflow: hidden;

  .featured-ss-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: rotate(-29deg) translateX(-6rem);

    .featured-ss {
    }
  }
}

.social-detail {
  display: none;
}

.header-social {
  &:hover {
    .social-detail {
      display: block;
    }
  }
}

nav {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  h3 > a {
    // font-size: 2rem;
    color: $SEC-ACCENT;
    font-weight: 800;
  }

  .menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .burger {
    div {
      height: 4px;
      background-color: $SEC-ACCENT;
      border-radius: 15px;
      margin: 3px 0;
    }

    .line1 {
      width: 26px;
    }

    .line2 {
      width: 26px;
    }
  }

  .li {
    color: $NAV-DESELECTED;
  }

  .active {
    font-weight: 700;
    color: $SEC-ACCENT;
  }
}

@media screen and (max-width: 900px) {
  .img-object {
    object-fit: cover;
    object-position: center;
  }

  nav {
    // background-color: #00000042;
    height: 9vh;
    h3 {
      color: white;
    }
  }
}
